@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Название: Какойто банк</p>
        <p>Аддресс: Дерибасовская 45</p>
        <p></p>
    </div>
